<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triskelapps.alcalasuena">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/img_logo_alcalasuena"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_logo_alcalasuena_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/img_logo_alcalasuena_notif" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.alcalasuena.es" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bands.BandsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.intro.IntroActivity" />
        <activity android:name=".ui.band_info.BandInfoActivity" />
        <activity android:name=".ui.about.AboutAlcalaSuenaActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.venues.VenuesActivity" />
        <activity android:name=".ui.venue_info.VenueInfoActivity" />
        <activity android:name=".ui.about.AboutInsulaActivity" />
        <activity
            android:name=".ui.image_full.ImageFullActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.news_info.NewsInfoActivity" />

        <service android:name=".messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.news.send.SendNewsActivity" />
        <activity android:name=".ui.info.WebViewActivity"
            android:parentActivityName=".ui.MainActivity"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

    </application>

</manifest>